* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-color: #34ebba;
}

.chrousol-container {
    width: 80%;
    margin: auto;
    margin-top: 30px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;

}
/* ************************************************************** */
/* radio part */
.chrousol-container input[type="radio"] {
    display: none;
}

.radio-label-container {
    position: absolute;
    /* bottom: 5%; */
    top: 5%;
    display: flex;
    width: 100%;
    justify-content: center;
    z-index: 15;
}
.radio--label {
    border: 2px solid #34ebba;
    padding: 6px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}
.radio--label:not(:last-child){
    margin-right: 40px;
}
.radio--label:first-child{
    display: none;
}
.radio--label:last-child{
    display: none;
}
.radio--label:hover {
    background-color: #34ebba;
}

#radio1:checked ~ .radio-label-container> .radio--label:nth-child(2){
    background-color: #34ebba;
}
#radio2:checked ~ .radio-label-container> .radio--label:nth-child(3){
    background-color: #34ebba;
}
#radio3:checked ~ .radio-label-container> .radio--label:nth-child(4){
    background-color: #34ebba;
}
#radio4:checked ~ .radio-label-container> .radio--label:nth-child(5){
    background-color: #34ebba;
}

/* ************************************************************** */

/* button part */
.btn-slide {
    position: absolute;
    z-index: 10;
    cursor: pointer;
    font-size: 50px;
    color: white;
    opacity: 50%;
}
#prevBtn {
    top: 45%;
    left: 3%;

}
#nextBtn{
    top: 45%;
    right: 3%;
}
/* ************************************************************** */

.chrousol {
    width: 600%;
    height: 500px;
    background-color: aqua;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.slide img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    /* display: none; */
}
